div{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: center;

}
#one{
    background-color: red;
    height: 100px;
    width: 100px;
    align-self: center;



}
